[package]
name = "aoc"
version = "0.1.0"
edition = "2024"

[dependencies]

[profile.release]
opt-level = 3
lto = "fat"
debug = 0
strip = true
panic = "abort"
codegen-units = 1
debug-assertions = false
overflow-checks = false
